<div class="jumbotron container">
  <h1 class="jumbo-title">Keep Calm and Rave On</h1>
</div>

<div class="container">
  <div class="row">
    <div class="home-buttons">
      <a role="button" href="/bands/add" class="btn btn-primary">Add A Band</a>
      <a role="button" href="/venues/add" class="btn btn-success">Add A Venue</a>
      <a role="button" href="/bands" class="btn btn-info">All Bands</a>
      <a role="button" href="/venues" class="btn btn-info all-venues-button">All Venues</a>
    </div>
  </div>
</div>
