<div class="container-fluid">
  <h1 class="jumbo-title">Keep Calm and Rave On</h1>


<div class="container">
  <div class="row">
    <div class="home-buttons">
      <div class="btn-group">
      <a role="button" href="/bands/add" class="btn btn1">Add A Band</a>
      <a role="button" href="/venues/add" class="btn btn2">Add A Venue</a>
    </div>
    <div class="btn-group">
      <a role="button" href="/bands" class="btn btn3">All Bands</a>
      <a role="button" href="/venues" class="btn all-venues-button btn4">All Venues</a>
    </div>
    </div>
  </div>
</div>
</div>
