<div class="jumbotron container-fluid">
  <h1 class="jumbo-title">Keep Calm and Rave On</h1>
</div>

<p><a role="button" href="/bands/add" class="btn btn-primary">Add A Band</a></p>
<p><a role="button" href="/venues/add" class="btn btn-success">Add A Venue</a></p>
<p><a role="button" href="/bands" class="btn btn-info">All Bands</a></p>
