<!DOCTYPE html>
<html>
  <head>
    <title>Ready To Rock</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  </head>
  <body>
      <%= yield %>
    <footer>
      <br>
      <div class="container">
        <a href="/" class="btn btn-warning home-button" role="button">Return Home</a></button>
      </div>
    </footer>
  </body>
</html>
