html {
  height: 100%;
}

body {
  font-family: "Rock Salt", cursive;

}

body {
  background-image: url("img/raver.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  position: relative;
  min-height: 100%;
  font-family: "Rock Salt", cursive;
  color: #33ff33;

}

.home-buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.all-venues-button {
  background-color: #ff00ff;
}

.jumbo-title {
  font-size: 80px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.btn1 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #0000ff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn1:hover {
  background: #8000ff;
  text-decoration: none;
}

.btn2 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #ff00ff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-right: 20px;
}

.btn2:hover {
  background: #8000ff;
  text-decoration: none;
}

.btn3 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #33ff33;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 20px;
}

.btn3:hover {
  background: #8000ff;
  text-decoration: none;
}

.btn4 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #00ffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn4:hover {
  background: #8000ff;
  text-decoration: none;
}

.home-button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #ff8000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  }

.home-button:hover {
  background: #8000ff;
  text-decoration: none;
}

.band-input {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.main-container {
  margin-top: 70px;
}

.main-header {
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}

li, a {
  padding-left: 0px;
  margin-left: 0px;
  color: #D600FF;
  list-style: none;
}
